#curso{
    background-color: blue;
    margin-bottom: 40px;
}

#ti{
    color: white;
}

#foto{
    margin-left: 100px;
    border-style: groove;
    border-radius: 100px;
    border-width: 1px;
    width: 10%;
    height: 100px;
    margin-bottom: 40px;
}

#texto{
    margin-left: 55px;
    margin-top: 35px;
}

#titu{
    margin-left: 600px;
}

.borde-up{
    background-color: rgb(96, 160, 255);
    width: 100%;
    height: 40px;
    padding: 10px;
}

.borde-up p{
    color: white;
    width: 350px;
    text-align: center;
    align-content: center;
}

.t{
    display: grid;
    height: 200px;
    grid-template-columns: 30% 70%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.us{
    width: 90%;
    margin: 0px auto;   
}

.us div{
    width: 50%;
    height: 90%;
    margin: 10px auto;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 5px;
    border-style: groove; 
}

.t .us .fas{
    margin-top: 40px;
    border-radius: 30px;
    font-size: 50px;
    opacity: 0.2;
}

.t .us p{
    font-size: 30px;
    opacity: 0.2;
}

.titulo{
    display: flex;
    align-items: center;
    margin: 0px auto;
}

header .t h1{
    width: 400px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    
}

.hoja{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.datos-p{
    width: 90%;
    margin: 0px auto;
    padding: 10px;
}

.datos-p form h2{
    text-align: center;
    margin-bottom: 20px;
}

#perfil{
    text-align: center;
    border-radius: 100px;
}

#contacto{
    text-align: center;
}